<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label>Name of the product</label>
        <input type="text" name="name" id="name">
        <label>category of the product</label>
        <input type="text" name="category" id="category">
        <input type="submit" name="insert" id="insert" value="Insert">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </form>
</body>
</html>